# Ignore binaries.
*.beam

# Ignore crash dumps.
*.dump

# Ignore dependencies
/deps/*

# Ignore compiled C sources.
*.o
*.so

# Ignore OSX internal files.
.DS_Store

# Ignore eunit test folder
/.eunit/*

# Ignore Rebar3 _build dir
_build

# Ignore C dependency and intermediate object files
c_src/*.d
c_src/*.o
